In [1]:
#importing all the necessary libraries and porjects 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('clean_data.csv')

In [3]:
df.describe()

,Unnamed: 0,math score,reading score,writing score,gender_map,race_ethnicity_map,parental level of education_map,lunch_map,test preparation course_map,total score,percentage,grades_map
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,66.08900,69.169000,68.054000,0.518000,2.174000,2.311000,0.355000,0.358000,203.312000,67.770667,1.805000
std,288.819436,15.16308,14.600192,15.195657,0.499926,1.157179,1.686156,0.478753,0.479652,42.771978,14.257326,1.244397
min,0.000000,0.00000,17.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,9.000000,0.000000
25%,249.750000,57.00000,59.000000,57.750000,0.000000,1.000000,1.000000,0.000000,0.000000,175.000000,58.333333,1.000000
50%,499.500000,66.00000,70.000000,69.000000,1.000000,2.000000,2.000000,0.000000,0.000000,205.000000,68.333333,1.000000
75%,749.250000,77.00000,79.000000,79.000000,1.000000,3.000000,4.000000,1.000000,1.000000,233.000000,77.666667,2.000000
max,999.000000,100.00000,100.000000,100.000000,1.000000,4.000000,5.000000,1.000000,1.000000,300.000000,100.000000,4.000000